.blog-page {
  width: 100%;
}
.blog-page-content {
  width: 100%;
  padding: 2.5rem 0 7.5rem 0;
}
.blog-content-wrapper {
  padding: 0 5rem;
}
.blog-page h3 {
  color: #101216;
  font-size: 3rem;
  font-weight: 800;
}
.blog-page p {
  color: #101216;
  font-size: 1.85rem;
  font-weight: 400;
  line-height: 32px;
}
.blog-page ul {
  padding: 0 0 0 4rem;
  list-style-type: disc;
}
.blog-page li {
  color: #101216;
  font-size: 1.85rem;
  font-weight: 400;
  line-height: 32px;
}
.blog-page ol {
  list-style-type: decimal;
  padding: 0 0 0 2rem;
}
.blog-img-para {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10rem 0 5rem 0;
}
.bipara-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bipara-left img {
  min-width: 5rem;
  min-height: 5rem;
  max-height: 5rem;
  max-width: 5rem;
  border-radius: 50%;
}
.bi-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 0 2.5rem;
}
.bi-text h5 {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 600;
}
.bi-text p {
  color: #000000;
  font-size: 1.4rem;
  font-weight: 400;
}
.blog-img-para span {
  background-color: rgba(0, 0, 0, 0.04);
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 1000px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}
.blog-main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0 0 3rem 0;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--black);
}
.top-5-picks-box .divider {
  margin: 10rem 0;
}
.blog-main-content.bmc-blog-5 {
  border-bottom: none;
}
.blog-main-content h3 {
  margin: 0 0 4rem 0;
}
.blog-main-content img {
  width: 100%;
  height: max-content;
  max-width: 1000px;
  margin: 4rem auto 3rem auto;
  border-radius: 1rem;
  object-fit: contain;
}
.blog-main-content ul {
  margin: 0rem 0 3rem 0rem;
  list-style-type: disc;
}
.categories-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 4rem 0;
  padding: 0 0 4rem 0;
  border-bottom: 1px solid #000000;
}
.categories-box h3 {
  margin: 0 0 3rem 0;
}
.categories-box.blog-2-cat h3 {
  margin: 5rem 0 3rem 0;
}
.categories-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 12rem;
  grid-template-rows: auto;
  margin: 2rem 0;
}
.cat-grid-content ul {
  margin: 2rem 0 0 0rem;
  list-style-type: disc;
}
.cat-grid-content ul li {
  text-align: justify;
}
.influ-type-box {
  display: grid;
  grid-template-columns: 0.85fr 1fr;
  grid-template-rows: auto;
  grid-gap: 6rem;
  margin: 2rem 0 0 0;
}
.influ-type-box img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.influ-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
}
.influ-text h3 {
  margin: 0 0 3rem 0;
}
.influ-text p {
  text-align: justify;
}
.promo-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 4rem 0 0 0;
  padding: 0 0 4rem 0;
  border-bottom: 1px solid #000000;
}
.promo-box.blog-2-promo {
  border-bottom: none;
}
.promo-box h3 {
  margin: 0 0 3rem 0;
}
.promo-box ul {
  list-style-type: disc;
}
.promo-box ul li {
  text-align: justify;
}
.social-network-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 4rem 0 0 0;
  padding: 0 0 4rem 0;
  border-bottom: 1px solid #000000;
}
.social-network-box.sn-blog-4 {
  border-bottom: none;
}
.social-network-box h3 {
  margin: 0 0 3rem 0;
}
.social-network-box ul {
  list-style-type: disc;
}
.social-network-box li {
  text-align: justify;
}
.social-net-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 16rem;
  margin: 3rem 0 0 0;
  width: 100%;
}
.social-net-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-flex-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 3rem 0;
}
.social-flex-content:last-child {
  margin: 0;
}
.social-network-box span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 126, 229, 0.1);
  padding: 2rem 0;
  width: 100%;
  margin: 3rem 0;
  font-size: 1.85rem;
  font-weight: 800;
  color: #177de5;
}
.social-network-box span img {
  margin: 0 1rem 0 0;
  width: 2.25rem;
}
.social-network-box h4 {
  color: #6a707a;
  font-size: 1.85rem;
  font-weight: 800;
  line-height: 32px;
  margin: 0 0 1.5rem 0;
}
.nox-influencers {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 4rem 0 0 0;
  padding: 0 0 4rem 0;
}
.nox-influencers h5 {
  color: #101216;
  font-size: 1.85rem;
  font-weight: 400;
  line-height: 32px;
}
.nox-influencers h3 {
  margin: 0 0 3rem 0;
}
.nox-influencers h4 {
  color: #6a707a;
  font-size: 1.85rem;
  font-weight: 800;
  line-height: 32px;
  margin: 3rem 0 1.5rem 0;
}
.promo-box h4 {
  color: #6a707a;
  font-size: 1.85rem;
  font-weight: 800;
  line-height: 32px;
  margin: 3rem 0 1.5rem 0;
}
.blog-main-content h4 {
  color: #6a707a;
  font-size: 1.85rem;
  font-weight: 800;
  line-height: 32px;
  margin: 3rem 0 1.5rem 0;
}
.blog-main-content h4 span {
  font-size: 5rem;
  margin: 0 1.5rem 0 0;
}
.conclusion-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 4rem 5rem;
  border-radius: 0.75rem;
  background-color: rgba(254, 112, 36, 0.188);
}
.conclusion-box span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 1.85rem;
  font-weight: 700;
  color: #fe7024;
  margin: 0 0 1.5rem 0;
}
.conclusion-box span img {
  margin: 0 2rem 0 0;
  width: 2.5rem;
}
.conclusion-box p {
  font-size: 1.85rem;
  font-weight: 600;
  color: #fe7024;
}
.blog-main-content a {
  color: #177de5;
  text-decoration: underline;
}
.categories-box.cat-blog-4 {
  border: none;
}
.promo-box h4 {
  color: #6a707a;
  font-size: 1.85rem;
  font-weight: 800;
  line-height: 32px;
  margin: 3rem 0 1.5rem 0;
}
.top-5-picks-box {
  width: 100%;
  margin: 0 0 5rem 0;
}
.pick-box-content {
  width: 100%;
}
.pbc-top-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
}
.pbc-top-grid-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.pbc-top-grid-left > img {
  max-height: 6rem;
}
.pbc-top-grid-right {
  width: 100%;
  padding: 3.5rem;
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
  border-radius: 1.5rem;
}
.pbc-right-grid-card {
  width: 100%;
}
.pbc-right-grid-card h5 {
  font-size: 1.85rem;
  font-weight: 700;
  color: #6a707a;
  text-transform: capitalize;
}
.pbc-right-grid-card a {
  color: #101216;
  font-size: 1.85rem;
  font-weight: 400;
  line-height: 32px;
  transition: 0.35s;
}
.pbc-right-grid-card a:hover {
  color: var(--main-color);
}
.pbc-social-media-grid {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.pbc-social-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.35s;
  flex-direction: column;
  width: max-content;
  margin: 0 1.5rem 0 0;
}
.pbc-social-icon p {
  transition: 0.35s;
}
.pbc-social-icon img {
  width: 4rem;
  object-fit: contain;
  margin: 0 0 0.5rem 0;
}
.pbc-social-icon:hover p {
  color: var(--main-color);
}
.pbc-pros-cons {
  margin: 5rem 0;
}
.price-boxes-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
.price-box-card {
  width: 100%;
  border-radius: 1.5rem;
  padding: 3.5rem;
  background-color: #fafafa;
}
.price-box-card h6 {
  font-size: 2.25rem;
  font-weight: 600;
  color: #177de5;
}
.price-box-card h5 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #101216;
  margin: 0 0 10rem 0;
}
.price-box-card span {
  font-weight: 400;
}
.blog-tabs {
  margin: 5rem auto;
  width: 100%;
}
.blog-tabs .nav-tabs {
  border: 0;
}
.blog-tabs .nav-link {
  font-size: 1.85rem;
  border: 0;
  color: rgba(255, 255, 255, 0.65);
  transition: 0.35s;
  padding: 0;
  margin: 0 5rem 0 0;
}
.blog-tabs .nav-link.active {
  background-color: unset;
  border-bottom: 1px solid var(--white);
  color: var(--white);
}
.blog-tabs-content {
  width: 100%;
  margin: 7.5rem 0 0 0;
}
.main-blog-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1.35fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
}
.main-blog-grid-left {
  width: 100%;
}
.main-blog-grid-left > .white-tag {
  font-size: 1.25rem;
  color: var(--black);
  background-color: var(--white);
  padding: 0.75rem 2.5rem;
  border-radius: 1000px;
  width: max-content;
}
.ts-head {
  text-transform: uppercase;
}
.uptrends-events-grid.uptrends-events-grid-m {
  margin: 7.5rem 0;
  padding: 0;
}
.main-blog-grid-right {
  width: 100%;
}
.main-blog-grid-right img,
.main-blog-grid-right video {
  width: 100%;
  object-fit: contain;
  border-radius: 1.5rem;
}
.main-blog-grid-left h3 {
  color: #fff;
  margin: 5rem 0 0 0;
  font-weight: 800;
}
.main-blog-grid-left h3 span {
  font-weight: 400;
}
.main-blog-grid-left p {
  color: #fff;
  font-size: 1.85rem;
  font-weight: 400;
  line-height: 32px;
}
.main-blog-grid-left > p {
  margin: 3.5rem 0;
}
.main-blog-grid-left .blog-img-para h5 {
  color: #fff;
}
.main-blog-grid-left .blog-img-para span,
.blog-card-img-box .blog-img-para span {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 0 0 5rem;
}
.main-blog-grid-left .bi-text p {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}
.main-blog-grid-left .blog-img-para {
  width: max-content;
  margin: 0;
}
.blog-cards-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
  margin: 7.5rem 0;
}
.blog-card {
  width: 100%;
}
.blog-card-img-box {
  width: 100%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.blog-card-img-box img {
  width: 100%;
  z-index: 5;
  object-fit: cover;
  position: relative;
  min-height: 30rem;
}
.blog-tags-box {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: absolute;
  top: 0;
  z-index: 6;
  left: 0;
}
.blog-tags-grid {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blog-tags-box span {
  font-size: 1.25rem;
  color: #fff;
  margin: 0 1rem 1rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  padding: 0.65rem 2rem;
  backdrop-filter: blur(5px);
  border-radius: 1000px;
}
.dark-blog-card h4,
.dark-blog-card p {
  color: var(--white);
}
.blog-card h4 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2.5rem 0;
}
.blog-card p {
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0 0 2.5rem 0;
}
.blog-card .blog-img-para {
  margin: 0;
}
.dark-blog-card .blog-img-para span {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.dark-blog-card .bi-text p {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}
.dark-blog-card .bi-text h5 {
  color: #fff;
}
.light-blog-card .blog-img-para span {
  color: #000;
  background-color: rgba(0, 0, 0, 0.04);
}
.light-blog-card .bi-text p {
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
}
.light-blog-card .bi-text h5 {
  color: #000;
}
.blog-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.5s;
}
.blog-card:hover {
  transform: translate(0, -1rem);
}
.top-stories {
  width: 100%;
  padding: 7.5rem 0;
}
.top-stories-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10rem;
  margin: 7.5rem 0 0 0;
}
.top-stories-content :nth-child(2) {
  grid-column: 2/4;
}
.ds-tabs-nav .swiper-slide {
  width: max-content;
}
.red-p {
  color: red;
}

.upcoming-events {
  width: 100%;
  padding: 7.5rem 0;
}
.upcoming-events-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10rem;
  margin: 7.5rem 0 0 0;
  padding: 0 0 25rem 0;
}
.upcoming-events-grid-card {
  width: 100%;
}
.upcoming-events-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 3.5rem;
  margin: 0 auto;
  margin: 7.5rem auto 0 auto;
}
.upcoming-events-grid-card {
  width: 100%;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
}
.upcoming-events-grid-card > img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: bottom right;
  z-index: 5;
}
.uegc-content {
  width: 100%;
  position: relative;
  padding: 3.5rem;
  z-index: 10;
}
.uegc-content h6 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--white);
}
.uegc-content > h2 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--white);
  max-width: 65%;
}

.uegc-content > p {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--white);
  max-width: 50%;
  margin: 2.5rem 0 0 0;
}
.ue-details-grid {
  width: max-content;
  /* display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; */
  max-width: 75%;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: auto;
  grid-gap: 0rem;
  margin: 2.5rem 0;
}
.ue-details-grid > div {
  margin: 0 1rem 1rem 0;
  background-color: var(--main-dark1);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.ue-details-grid > div:nth-child(1) h2 + span {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 400;
}
.ue-details-grid > div:nth-child(1) h2 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--white);
  line-height: 3rem;
}
.ue-details-grid > div:nth-child(3) img {
  width: 5rem;
  object-fit: contain;
}
.ue-details-grid > div:nth-child(2) img {
  width: 2rem;
  margin: 0 0 0.5rem 0;
  object-fit: contain;
}
.ue-details-grid > div:nth-child(2) p {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--white);
}
.uegc-content > span {
  font-size: 2rem;
  background-color: var(--white);
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  font-weight: 800;
  text-transform: capitalize;
  margin: 2.5rem 0 0 0;
  display: block;
  width: max-content;
}
.color-green {
  color: var(--main-color);
}
.color-orange {
  color: #fe7024;
}
.web3-places {
  width: 100%;
  background-color: var(--white);
  padding: 7.5rem 0;
}
.web3-places-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem 1.5rem;
}
.web3-places-grid-card {
  width: 100%;
}
.web3-places-grid-card img {
  width: 100%;
}
.web3-places-grid-card h5 {
  margin: 1rem 0 0.5rem 0;
  text-transform: uppercase;
  font-weight: 800;
}
