.home-page {
  width: 100%;
}
.hero-section {
  width: 100%;
  position: relative;
  background-color: var(--main-dark3);
  overflow: hidden;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  height: 100vh;
  padding: 2.5rem 0 5rem 0;
}
.hero-icons-line-box {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 10rem;
  right: 0;
  z-index: 1000;
}
.hero-icons-line-box.hero-icons-line-box-dark > div {
  background-color: var(--white);
}
.hero-icons-line-box > div {
  width: 1px;
  height: 7.5rem;
  background-color: var(--black);
}
.hero-icons-line-box a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--main-dark3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.hero-icons-line-box.hero-icons-line-box-dark a {
  background-color: unset;
}
.hero-icons-line-box a svg {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
  transition: 0.35s;
}
.hero-icons-line-box.hero-icons-line-box-dark a svg {
  width: 2.25rem;
  height: 2.25rem;
}
.hero-icons-line-box > * {
  margin: 0 0 2.5rem 0;
}
.hero-icons-line-box a svg:hover {
  transform: scale(1.15);
}
.hero-content .box {
  position: relative;
}
.hero-bull {
  width: max-content;
  height: 90vh;
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 2;
  object-fit: contain;
}
.hero-blue-overlay {
  width: 85vw;
  position: absolute;
  top: -35%;
  right: -15%;
  z-index: 1;
}

.hero-section h1 {
  font-size: 5.5rem;
  color: var(--white);
  font-weight: 700;
  line-height: 7.5rem;
  position: relative;
}
.hero-section h1 span {
  position: relative;
  z-index: 10;
  margin: 0 0 0 2.5rem;
}
.head-box-green {
  width: 104%;
  height: 97%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.head-box-green-inner {
  width: 100%;
  height: 97%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
}

.hero-section h1 span i {
  font-style: normal;
  z-index: 10;
  position: relative;
}
.trusted-by-light,
.trusted-by-dark {
  width: 100%;
  position: relative;
}
.trusted-by-light .hero-bottom h4 {
  color: var(--white);
  text-transform: uppercase;
}
.trusted-by-dark .hero-bottom h4 {
  color: var(--black);
  text-transform: uppercase;
}
.trusted-by-light .hero-bottom h4::after {
  background-color: var(--white);
}
.trusted-by-dark .hero-bottom h4::after {
  background-color: var(--black);
}
.hero-bottom {
  width: 100%;
}
.hero-bottom h4 {
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  margin: 0 0 1.5rem 0;
}
.hero-bottom h4::after {
  content: "";
  width: 10rem;
  height: 1px;
  position: absolute;
  top: 1.5rem;
  left: 0;
  transform: translate(-110%, 0);
}
.hero-company-logo-box {
  width: max-content;
}
.bb-logo-box {
  width: max-content;
}
.bb-logo-box img {
  height: 4rem;
  object-fit: contain;
  width: max-content;
}
.hero-company-logos-swiper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero-company-logos-swiper .swiper-slide {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5rem 0 0;
  transition: 0.35s;
  padding: 1.5rem 0 0 0;
}
.hero-company-logos-swiper .swiper-slide:hover {
  transform: scale(1.15);
}
.hero-company-logos-swiper .swiper-wrapper {
  align-items: center;
}
.our-mission-section {
  width: 100%;
  background-color: var(--white);
  padding: 7.5rem 0 12.5rem 0;
}
.our-mission-content {
  width: 100%;
  display: grid;
  grid-template-columns: 750px 1fr;
  grid-template-rows: auto;
  padding: 0 7.5rem 0 0;
  grid-gap: 10rem;
}
.our-mission-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-mission-img-box {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.om-main-img {
  width: 100%;
  max-height: 55rem;
  object-fit: contain;
  height: 100%;
  position: relative;
  z-index: 25;
}
.om-green-big {
  /* width: 40%; */
  width: 27.5rem;
  position: absolute;
  bottom: 5%;
  right: 17%;
  object-fit: contain;
  z-index: 19;
}
.om-green-small {
  width: 5.5%;
  position: absolute;
  bottom: 1%;
  left: 27%;
  object-fit: contain;
  z-index: 19;
}
.om-blue-small {
  width: 5.5%;
  position: absolute;
  top: 40%;
  right: 14%;
  object-fit: contain;
  z-index: 19;
}
.om-blue-big {
  /* width: 40%; */
  width: 30rem;
  position: absolute;
  top: 1.5rem;
  left: 7.5rem;
  object-fit: contain;
  z-index: 19;
}
.om-text {
  width: max-content;
  max-height: 5.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 19;
  object-fit: contain;
}
.our-mission-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.our-mission-right h2 {
  margin: 0 0 7.5rem 0;
}
.mission-text-img-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mission-text-img-box img {
  width: 6.5rem;
  margin: 0 4rem 0 0;
  transition: 0.5s;
}
.mission-text-img-box h5 {
  font-weight: 400;
}
.mission-text-img-box:not(:last-child) {
  margin: 0 0 5rem 0;
}
.mission-text-img-box:hover img {
  transform: scale(1.2);
}
.expertise-section {
  width: 100%;
  background-color: var(--black);
  padding: 7.5rem 0;
}
.positions-section {
  width: 100%;
  background-color: var(--main-dark3);
  padding: 7.5rem 0;
}
.expertise-section h2.expertise-heading {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: var(--white);
  margin: 0 0 7.5rem 0;
}
.uc-service-description-section.service-description-section {
  padding: 5rem 0 0 0;
}
.positions-section h2.expertise-heading {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: var(--white);
}
.positions-section h2.expertise-heading + p {
  text-align: center;
  width: 100%;
  color: var(--white);
  margin: 0 0 7.5rem 0;
}
.expertise-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
  overflow: hidden;
}
.expertise-grid-card {
  width: 100%;
  height: 100%;
  padding: 5rem;
  transition: 0.5s;
  border-radius: 1.5rem;
  position: relative;
}
.expertise-grid-card:nth-child(1),
.expertise-grid-card:nth-child(2) {
  background-color: var(--white);
  color: var(--main-dark1);
}
.expertise-grid-card:nth-child(3),
.expertise-grid-card:nth-child(4) {
  background-color: var(--main-dark1);
  color: var(--white);
}
.expertise-grid-card-1 .egc1-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.egc1-top img {
  height: 35rem;
  width: max-content;
  transition: 0.5s;
  object-fit: contain;
  position: absolute;
  top: 5rem;
  right: 3.5rem;
  z-index: 10;
  transition: 0.5s;
}
.expertise-grid-card-1:hover img {
  transform: scale(1.1);
}
.expertise-grid-card-1 h5,
.expertise-grid-card-4 h5 {
  z-index: 15;
  position: relative;
  margin: 20rem 0 0 0;
  width: 75%;
}
.expertise-grid-card-1 a,
.expertise-grid-card-4 a {
  position: relative;
  z-index: 15;
}
.expertise-grid-card span {
  transition: 0.5s;
  font-size: 3.5rem;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
}
.expertise-grid-card a {
  text-transform: uppercase;
  /* padding: 2.5rem 0 0 0; */
  display: flex;
  font-size: 5.5rem;
  line-height: 5rem;
  font-weight: 800;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.5s;
  color: var(--black);
  text-decoration: none;
}
.egc1-top a:hover {
  text-decoration: none !important;
}
.expertise-grid-card:nth-child(3) a,
.expertise-grid-card:nth-child(4) a,
.expertise-grid-card:nth-child(3) a:hover,
.expertise-grid-card:nth-child(4) a:hover {
  color: var(--white);
}
.expertise-grid-card a:hover {
  color: var(--black);
  text-decoration: none;
}
.expertise-grid-card h5 {
  font-weight: 300;
}
.expertise-grid-card-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.egc2-img-grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.egc2-img-grid.egc2-imgs img {
  height: 4rem;
}
.egc2-img-grid.egc3-imgs img {
  height: 4rem;
}
.egc2-img-grid img {
  height: 5rem;
  margin: 0 3.5rem 0 0;
  transition: 0.35s;
}
.egc2-img-grid img:not(:last-child) {
  margin: 0 4.5rem 0 0;
}
.egc2-img-grid img:hover {
  transform: scale(1.1);
}
.twitter-section {
  width: 100%;
  padding: 7.5rem 0;
  background-color: var(--white);
}
.section-heading-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 7.5rem 0;
}
.up-twitter-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.up-twitter-name p {
  font-weight: 700;
  margin: 0 0 0 0.75rem;
}
.up-twitter-name img {
  width: 2.5rem;
  object-fit: contain;
}

.tweets-main-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
}

.small-tweets-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem 10rem;
  padding: 0 5rem 0 5rem;
  border-left: 1px solid var(--main-dark2);
}
.tweets-main-grid p {
  font-size: 1.5rem;
  margin: 2.5rem 0 0 0;
}
.twitter-section p,
.twitter-section h4,
.twitter-section h6 {
  text-align: justify;
}
.twitter-section h4 {
  font-weight: 500;
  font-size: 2.25rem;
}
.small-tweets-grid h6 {
  font-size: 1.75rem;
  font-weight: 400;
}
.small-tweets-grid p {
  font-size: 1.35rem;
  text-transform: uppercase;
}
.big-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.backedby-section {
  width: 100%;
  padding: 5rem 0;
}
.backedby-section-light {
  background-color: var(--white);
}
.backedby-section-dark {
  background-color: var(--main-dark3);
}
.our-partners-logos-swiper .swiper-slide,
.bb-logos-swiper .swiper-slide {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10rem 0 0;
}
.our-partners-logos-swiper .swiper-slide img {
  height: 3rem;
}
.backedby-section .head-subhead {
  margin: 0 0 7.5rem 0;
}
.highly-regarded-section .head-subhead {
  color: var(--black);
}
.backedby-section-light .head-subhead {
  color: var(--black);
}
.backedby-section-dark .head-subhead {
  color: var(--white);
}
.highly-regarded-section {
  width: 100%;
  padding: 7.5rem 0;
}
.highly-regarded-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0;
}
.highly-regarded-grid-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 1.5rem;
  padding: 4rem;
  transition: 0.5s;
}
.highly-regarded-grid-card:hover {
  background-color: var(--main-light1);
  transform: translate(0, -1.5rem);
}
.hrgc-top {
  width: 100%;
}
.hrgc-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hrgc-top .hrgc-head img {
  width: 8.5rem;
  height: 8.5rem;
  margin: 0 2.5rem 0 0;
  border-radius: 50%;
  cursor: pointer;
}
.hrgc-top .hrgc-head h4 {
  font-weight: 800;
  text-transform: uppercase;
}
.hrgc-top .hrgc-head h6 {
  font-weight: 300;
}
.hrgc-top > h6 {
  width: 100%;
  text-align: justify;
  margin: 5rem 0 0 0;
  font-weight: 500;
  font-size: 1.85rem;
}
.hrgc-bottom {
  width: 100%;
  margin: 7.5rem 0 0 0;
}

.hrgc-bottom .hrgc-head img {
  width: 5rem;
  margin: 0 1.5rem 0 0;
}
.hrgc-bottom h6 {
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
}
.hrgc-bottom p {
  font-weight: 400;
  font-size: 1.5rem;
}

.events-section {
  width: 100%;
  padding: 7.5rem 0;
  background-color: var(--main-dark1);
}
.uptrends-events-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 4rem;
  padding: 0 0 7rem 0;
}
.uptrends-events-img-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  transition: 0.5s;
}
.uptrends-events-img-grid:hover {
  transform: translate(0, -1rem);
}
.uptrends-events-img-grid h4 {
  width: 100%;
  color: #ffffff;
  margin: 1.5rem 0 2rem 0;
  font-size: 2.4rem;
  font-weight: 800;
}
.uptrends-events-img-grid p {
  width: 100%;
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 400;
}
.uptrends-events-img-grid > img {
  border-radius: 0.75rem;
  width: 100%;
  min-height: 32rem;
  object-fit: cover;
  transition: 0.5s;
}
.uptrends-events-img-grid span {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 4rem;
  border-radius: 1000px;
  position: absolute;
  top: 3%;
  left: 3%;
  cursor: pointer;
}
.uptrends-events-img-grid div:hover img {
  transform: scale(1.025);
}
.ueg-right {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 0;
}
.uptrends-events-img-grid h4 img {
  width: 2.5rem;
  margin: 0 0 0 1rem;
  object-fit: contain;
  border-radius: unset;
}
.ueg-right h3 {
  color: var(--white);
}
.ready-to-start-section {
  width: 100%;
  background-color: var(--white);
}
.rts-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10rem;
}
.rts-form {
  width: 100%;
  padding: 5rem 0;
}
.rts-form h3 {
  text-transform: uppercase;
  font-weight: 800;
}
.rts-form-grid textarea {
  grid-column: 1/3;
  resize: vertical;
  min-height: 15rem;
}
.rts-form-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  margin: 5rem 0;
}
.bull-elevator-img-box {
  width: 100%;
}
.bull-elevator-img-box img {
  width: 100%;
  object-fit: contain;
  max-height: 60rem;
  margin: -12.5rem 0 0 0;
}
.ready-to-start-section button {
  min-width: 20rem;
}
.uptrend-nfts-section {
  width: 100%;
  padding: 7.5rem 0;
  background-color: var(--main-dark1);
}
.uptrend-nfts-section .section-heading-box p {
  color: var(--white);
  margin: 1.5rem 0 0 0;
  font-weight: 300;
  font-size: 2rem;
}
.section-heading-box div {
  width: 100%;
}
.uptrend-nfts-section .section-heading-box div {
  max-width: 65%;
  color: var(--white);
}
.ut-nfts-swiper .swiper-slide {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2.5rem 0 0;
}
.ut-nfts-swiper {
  width: 100%;
  margin: 7.5rem 0 0 0;
}
.ut-nft-card {
  transition: 0.5s;
  width: 100%;
}
.ut-nft-card-img {
  width: 40rem;
  height: 40rem;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.ut-nft-card img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.ut-nft-card:hover img {
  transform: scale(1.05);
}
.nft-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: -5rem 0 0 0;
  position: relative;
  z-index: 10;
}
.nft-details > img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 5px solid var(--main-dark1);
  margin: 0 0 1.5rem 0;
}
.nft-details p {
  color: var(--white);
}
.nft-details h6 {
  font-size: 1.35rem;
  font-weight: 700;
  margin: 1rem 0;
  color: var(--white);
}
.nft-details span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--white);
}
.nft-details span img {
  width: 1rem;
  object-fit: contain;
  margin: 0 0.5rem 0 0;
}
.ut-store-section {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10rem 0 0 0;
}
.ut-store-section > img {
  width: 100%;
  object-fit: cover;
  min-height: 75rem;
}

.ut-store-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ut-store-details > div {
  width: 17.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.ut-store-details img {
  width: 17.5rem;
  object-fit: contain;
}
.ut-store-details button {
  min-width: 17.5rem;
  margin: 5rem 0 0 0;
}
.ut-store-details h2 {
  color: var(--white);
}
.ut-store-wave-box {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}
.ut-store-wave-box > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150vw;
  height: 100%;
  object-position: bottom;
  object-fit: cover;
  z-index: 11;
}
.ut-store-wave-box h2 {
  color: var(--black);
  position: relative;
  z-index: 13;
  text-align: center;
}
.ut-store-wave-box h2 span {
  font-size: 2.75rem;
}
.ut-store-wave-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2.5rem 0 5rem 0;
}
.ut-store-right-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ut-store-right-arrow svg {
  width: 3.5rem;
  height: 3.5rem;
  color: var(--black);
  z-index: 13;
}
.twitter-section .section-heading-box {
  flex-direction: row;
  align-items: center;
}
.section-heading-box div.up-twitter-name {
  width: max-content;
}
.ut-journal-section h2 {
  color: var(--white);
}
.ut-journal-section {
  width: 100%;
  padding: 7.5rem 0;
  background-color: var(--main-dark3);
}
.journal-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2.25fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2.5rem;
  margin: 7.5rem 0 0 0;
}
.journal-grid-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-dark1);
  border-radius: 1rem;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.jgc-img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.journal-grid-card:hover {
  transform: translate(0, -1rem);
}
.journal-grid-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.jgc-details {
  padding: 2rem;
}
.journal-grid a:nth-child(3) {
  height: 100%;
  grid-row: 1/-1;
  grid-column: 3/4;
}
.jgc-details h6 {
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.65rem;
}
.jgc-details p {
  color: var(--white);
  font-weight: 400;
  font-size: 1.5rem;
  margin: 2.5rem 0 0 0;
}

.nft-gallery-content-1 {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.nft-gallery-content-1 img {
  width: 35rem;
  height: 35rem;
  transition: 0.5s;
  object-fit: cover;
  border-radius: 2rem;
}
.nft-gallery-content-1:hover {
  transform: translate(0, -1rem);
}
.nft-para-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0 0 0;
}
.nft-para-1 h5 {
  font-size: 1.7rem;
  color: #ffffff;
  font-weight: 200;
}
.nft-para-1 p {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 800;
  margin: 0.5rem 0 0 0;
}
.hrgc-head-name a {
  color: #000 !important;
}
.highly-regarded-grid-swiper,
.tweets-main-grid-swiper,
.home-page .hero-section h1 .hero-head-mob-br {
  display: none;
}
@media screen and (max-width: 1250px) {
  .our-mission-content {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }
  .mission-text-img-box:not(:last-child) {
    margin: 0 0 3.5rem 0;
  }
  .expertise-grid {
    grid-template-columns: 1fr;
  }
  .expertise-grid-card {
    padding: 3.5rem;
  }
  .expertise-grid-card h2 {
    padding: 0;
  }
  .expertise-grid-card h5 {
    width: 85%;
  }
  .expertise-grid-card-2 h5,
  .expertise-grid-card-3 h5 {
    margin: 5rem 0 7.5rem 0;
  }
  .tweets-main-grid {
    grid-gap: 3.5rem;
  }
  .small-tweets-grid {
    grid-gap: 3.5rem;
    padding: 0 0 0 3.5rem;
  }
  .twitter-section h4 {
    font-size: 2.25rem;
  }
  .highly-regarded-grid-card {
    padding: 3.5rem;
  }
  .highly-regarded-grid {
    grid-template-columns: 1fr 1fr;
  }
  .uptrends-events-grid {
    grid-gap: 1.5rem;
  }
  .rts-content {
    grid-gap: 3.5rem;
  }
  .journal-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
  .journal-grid a:nth-child(3) {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .journal-grid-card {
    height: 100%;
  }

  .om-main-img {
    width: 80%;
  }
  .om-blue-big {
    width: 50%;
    left: 1.5rem;
  }
  .om-text {
    height: 4.5rem;
  }
  .om-green-big {
    width: 40%;
  }
  .om-blue-small {
    top: 50%;
    right: 11%;
  }
}
@media screen and (max-width: 1150px) {
  .ready-to-start-section.ready-to-start-section .rts-content {
    grid-template-columns: 1fr;
  }
  .hero-icons-line-box {
    display: none;
  }
  .ready-to-start-section .bull-elevator-img-box {
    display: none;
  }
  .uptrends-events-grid {
    padding: 0;
  }
  .rts-form.rts-form-bull {
    padding: 5rem 0 18rem 0;
  }
}
@media screen and (max-width: 1000px) {
  .nft-gallery-content-1 img {
    width: 30rem;
    height: 30rem;
  }
  .uptrends-events-img-grid > img {
    min-height: unset;
  }
  .hero-section h1 {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }
  .hero-section h1 span {
    padding: 0 0.75rem;
  }
  .our-mission-content {
    grid-template-columns: 1fr;
  }
  .our-mission-section {
    padding: 2.5rem 0 7.5rem 0;
  }
  .our-mission-right h2 {
    margin: 0 0 5rem 0;
  }
  .tweets-main-grid {
    grid-template-columns: 1fr;
  }
  .small-tweets-grid {
    border-left: 0;
    border-top: 1px solid var(--main-dark2);
    grid-template-columns: 1fr;
    padding: 5rem 0 0 0;
  }
  .highly-regarded-grid-card {
    padding: 2.5rem;
    border-radius: 1rem;
  }
  .bull-elevator-img-box {
    display: none;
  }
  .rts-form-grid {
    grid-template-columns: 1fr;
  }
  .rts-form h3 br {
    display: none;
  }
  .rts-content {
    grid-template-columns: 1fr;
  }
  .uptrends-events-grid {
    grid-template-columns: 1fr;
    grid-gap: 8rem;
  }
  .ueg-right {
    padding: 0 0 3rem 0 !important;
  }
  .our-mission-left {
    max-width: 615px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 750px) {
  .om-text {
    height: 4rem;
  }
  .hero-section.im-hero-section h1 {
    position: relative;
    top: unset;
    left: unset;
  }
  .highly-regarded-grid,
  .uptrends-events-grid,
  .rts-content {
    grid-template-columns: 1fr;
  }
  .twitter-section,
  .highly-regarded-section,
  .events-section,
  .ut-journal-section,
  .rts-form,
  .backedby-section,
  .uptrend-nfts-section,
  .expertise-section {
    padding: 3.5rem 0;
  }
  .our-mission-section {
    padding: 5rem 0;
  }
  .expertise-grid-card h2,
  .ut-store-wave-box h2 {
    font-size: 3rem;
  }
  .mission-text-img-box h5,
  .ut-store-wave-box h2 span,
  .twitter-section h4 {
    font-size: 1.75rem;
  }
  .small-tweets-grid h6,
  .uptrend-nfts-section .section-heading-box p,
  .head-subhead span {
    font-size: 1.65rem;
  }
  .backedby-section .head-subhead {
    font-size: 2rem;
  }
  .ut-store-wave-box {
    justify-content: flex-start;
    padding: 2.5rem 2rem 3.5rem 2rem;
  }
  .ut-store-wave-box > img {
    left: 10%;
    width: 200vw;
  }
  .ut-store-wave-box h2 {
    text-align: left;
  }
  .backedby-section .head-subhead {
    margin: 0 0 3.5rem 0;
  }
  .tweets-main-grid p {
    font-size: 1.35rem;
    margin: 1.5rem 0 0 0;
  }
  .small-tweets-grid {
    padding: 3.5rem 0 0 0;
    border-left: 0;
    border-top: 1px solid var(--main-dark2);
    grid-template-columns: 1fr 1fr;
  }
  .uptrends-events-img-grid {
    order: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .uptrends-events-img-grid div:nth-child(1) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .ueg-right {
    order: 1;
    align-items: flex-start;
    justify-content: left;
    padding: 0;
  }
  .ut-nfts-swiper,
  .journal-grid {
    margin: 3.5rem 0 0 0;
  }
  .uptrends-events-grid {
    grid-gap: 6rem;
  }
  .highly-regarded-grid-card {
    padding: 0;
  }
  .highly-regarded-grid-card:nth-child(2) {
    border-radius: 0;
    margin: 0 -2rem;
    width: 100vw;
    padding: 2rem;
  }
  .highly-regarded-grid {
    grid-gap: 2.5rem;
  }
  .hero-company-logos-swiper .swiper-slide {
    margin: 0 2.5rem 0 0;
  }
  .hero-content {
    padding: 2rem 0 3.5rem 0;
  }
  .hero-section h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 20vh;
  }
  .home-page .hero-section h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-section h1 span {
    padding: 0 0.75rem;
  }
  .hero-bull {
    height: 60vh;
    right: 0;
  }
  .hero-blue-overlay {
    top: 50%;
    left: 50%;
    width: 250vw;
    transform: translate(-50%, -50%);
  }
  .hero-bottom h4 {
    font-size: 1.75rem;
  }
  .our-mission-content {
    grid-gap: 5rem;
  }
  .our-mission-right h2,
  .section-heading-box,
  .expertise-section h2.expertise-heading {
    margin: 0 0 3.5rem 0;
  }
  .mission-text-img-box:not(:last-child) {
    margin: 0 0 2.5rem 0;
  }
  .mission-text-img-box img {
    width: 5rem;
    margin: 0 1.5rem 0 0;
  }
  .expertise-grid-card {
    padding: 2rem;
  }
  .expertise-grid-card span {
    font-size: 2rem;
  }
  .egc2-img-grid img:not(:last-child) {
    margin: 0 2.5rem 0 0;
  }
  .egc2-img-grid img {
    height: 2.5rem;
  }
  .egc1-top img {
    height: 22.5rem;
    top: 2rem;
    right: 2rem;
  }
  .expertise-grid-card h5 {
    width: 100%;
    font-size: 1.75rem;
  }
  .expertise-grid-card-1 h5,
  .expertise-grid-card-4 h5 {
    margin: 15rem 0 0 0;
  }
  .expertise-grid-card-2 h5,
  .expertise-grid-card-3 h5 {
    margin: 1.5rem 0 10rem 0;
  }
  .expertise-grid {
    grid-gap: 2rem;
  }
  .expertise-grid {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .our-partners-logos-swiper .swiper-slide,
  .bb-logos-swiper .swiper-slide {
    margin: 0 2.5rem 0 0;
  }
  .hrgc-top .hrgc-head img {
    width: 5rem;
    height: 5rem;
    margin: 0 1.5rem 0 0;
  }
  .hrgc-top .hrgc-head a {
    color: #000 !important;
  }
  .hrgc-head-name a {
    color: #000 !important;
  }
  .hrgc-top .hrgc-head a h4 {
    font-size: 2rem;
    color: #000 !important;
  }
  .hrgc-top .hrgc-head h6,
  .ueg-right h5,
  .hrgc-top > h6,
  .hrgc-bottom h6 {
    font-size: 1.65rem;
  }

  .hrgc-top > h6 {
    margin: 3.5rem 0 0 0;
  }
  .hrgc-bottom .hrgc-head img {
    width: 3.5rem;
  }
  .highly-regarded-grid-card:hover {
    background-color: unset;
    transform: translate(0, 0);
  }
  .highly-regarded-grid-card:nth-child(2),
  .highly-regarded-grid-card:nth-child(2):hover {
    background-color: var(--main-light1);
  }
  .uptrends-events-img-grid div,
  .uptrends-events-img-grid div:nth-child(1) {
    height: max-content;
    border-radius: 1rem;
  }
  .rts-form-grid {
    margin: 3.5rem 0;
  }
  .section-heading-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .uptrend-nfts-section .section-heading-box div {
    max-width: 100%;
  }
  .uptrend-nfts-section .section-heading-box p,
  .ueg-right h5 {
    margin: 0.5rem 0 0 0;
  }
  .ut-nft-card > img {
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
  }
  .nft-details > img {
    width: 7.5rem;
    height: 7.5rem;
  }
  .nft-details {
    margin: -3.75rem 0 0 0;
  }
  .nft-details h6 {
    margin: 0.25rem 0;
  }
  .ut-nfts-swiper .swiper-slide {
    margin: 0 1.5rem 0 0;
  }
  .section-heading-box .arrow-link,
  .ueg-right .arrow-link {
    margin: 2.5rem 0 0 0;
  }
  .jgc-details {
    padding: 1.5rem;
  }
  .jgc-details h6 {
    font-size: 1.25rem;
  }
  .ut-store-right-arrow svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .ut-store-section > img {
    min-height: 65rem;
  }
  .hero-section h1 span {
    margin: 0 0 0 1.5rem;
  }
  .hero-content {
    height: 90vh;
  }
  .egc2-img-grid.egc3-imgs img {
    height: 2.5rem;
  }
  .egc2-img-grid img {
    margin: 0 2.5rem 0 0;
  }
  .egc2-img-grid.egc2-imgs img {
    height: 2.5rem;
  }
  .rts-form-grid textarea {
    grid-column: unset;
  }
  .tweets-main-grid,
  .highly-regarded-grid {
    display: none;
  }
  .tweets-main-grid-swiper,
  .highly-regarded-grid-swiper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
  .tweets-main-grid-swiper > span,
  .highly-regarded-grid-swiper > span {
    min-width: 3.5rem;
    max-width: 3.5rem;
    min-height: 3.5rem;
    max-height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tweets-main-grid-swiper > span svg,
  .highly-regarded-grid-swiper > span svg {
    font-size: 2rem;
  }
  .tweets-main-grid-swiper-box {
    width: calc(95% - 7rem);
  }
  .highly-regarded-grid-swiper-box {
    width: 100%;
    position: relative;
  }
  .hr-prev {
    position: absolute;
    top: 15%;
    left: 0;
    z-index: 10;
  }
  .hr-next {
    position: absolute;
    top: 15%;
    right: 0;
    z-index: 10;
  }
  .hrgc-head {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hrgc-top .hrgc-head img,
  .hrgc-bottom .hrgc-head img {
    margin: 0 0 1.5rem 0;
  }
  .hrgc-head-name {
    text-align: center;
  }
  .expertise-grid-card a {
    font-size: 3rem;
  }
  .section-heading-box.shb-mob {
    flex-direction: row;
  }
  .rts-form.rts-form-bull {
    padding: 5rem 0 18rem 0;
  }
}
@media screen and (max-width: 400px) {
  .home-page .hero-section h1 .hero-head-pc-br {
    display: none;
  }
  .home-page .hero-section h1 .hero-head-mob-br {
    display: block;
  }
  .hero-section h1 {
    font-size: 2.25rem;
    line-height: 3rem;
  }
}
