/* INFLUENCER MARKETING */
.influencer-marketing-page,
.metaverse-marketing-page,
.event-marketing-page {
  width: 100%;
}
.im-hero-section {
  width: 100%;
  position: relative;
  background-color: var(--white);
  z-index: 100;
  overflow: hidden;
  max-width: 100%;
}
.influencer-marketing-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  padding: 2.5rem 0;
  position: relative;
  z-index: 10;
}
.im-hero-img {
  width: max-content;
  max-width: 47.5%;
  object-fit: contain;
  position: absolute;
  bottom: 0%;
  right: 0;
  transform: translate(0, -1.5rem);
  z-index: 5;
  transform: translate(0, 5rem);
  height: 90vh;
}
.ups-hero-img {
  width: max-content;
  object-fit: contain;
  position: absolute;
  max-width: 70%;
  bottom: 0%;
  right: 0;
  transform: translate(0, -1.5rem);
  z-index: 5;
  transform: translate(0, 5rem);
  height: 60vh;
}
.im-hero-headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 55%;
  z-index: 50;
  position: relative;
}
.im-hero-headings h1 {
  font-size: 6.5rem;
  font-weight: 800;
  margin: 0 0 2.5rem 0;
}
.im-hero-headings h3 {
  font-weight: 300;
}
.expertise-hero-headings.im-hero-headings {
  width: 75%;
}
.expertise-hero-headings.im-hero-headings h1 {
  font-size: 5rem;
}
.expertise-hero-headings.im-hero-headings h1 span {
  background-color: var(--black);
  color: var(--white);
  padding: 0 1rem;
}
.im-hero-explore a {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.im-hero-explore a span {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}
.im-hero-explore a svg {
  font-size: 2rem;
  color: var(--black);
  margin: 0.5rem 0 0 0;
}
.service-description-section {
  width: 100%;
  padding: 5rem 0;
  background-color: var(--main-dark3);
  position: relative;
  z-index: 10;
}
.service-description-section h2 {
  color: var(--white);
}
.service-description-grid {
  width: 100%;
  margin: 7.5rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.sd-grid-card {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.sd-grid-card-1 {
  padding: 5rem 3.5rem 3.5rem 3.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.ir-sd-grid-card-1 img,
.ir-sd-grid-card-2 img,
.ir-sd-grid-card-3 img,
.ir-sd-grid-card-4 img,
.msgc1 img,
.msgc2 img,
.msgc3 img,
.msgc4 img,
.msgc1-2 img,
.msgc2-2 img,
.msgc3-2 img,
.msgc4-2 img,
.em-sd-grid-card-1 img,
.em-sd-grid-card-2 img,
.em-sd-grid-card-3 img,
.em-sd-grid-card-4 img,
.sd-grid-card-1 img,
.sd-grid-card-3 img,
.sd-grid-card-4 img,
.sd-grid-card-2 img {
  transition: 0.5s;
}

.ir-sd-grid-card-1:hover img,
.ir-sd-grid-card-2:hover img,
.ir-sd-grid-card-3:hover img,
.ir-sd-grid-card-4:hover img,
.msgc1:hover img,
.msgc3:hover img,
.msgc4:hover img,
.msgc1-2:hover img,
.msgc2-2:hover img,
.msgc3-2:hover img,
.msgc4-2:hover img,
.em-sd-grid-card-1:hover img,
.em-sd-grid-card-2:hover img,
.em-sd-grid-card-3:hover img,
.em-sd-grid-card-4:hover img,
.sd-grid-card-3:hover img,
.sd-grid-card-1:hover img,
.sd-grid-card-4:hover img,
.sd-grid-card-2:hover img {
  transform: scale(1.05);
}
.msgc2 img:hover {
  transform: scale(1.05);
}
.irgc-1-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
}
.irgc-3-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
}
.sd-grid-card-1-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
}
.sd-grid-card-2-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fe7024;
}
.sd-grid-card-4-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-dark1);
}
.sd-grid-card-3-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
}
.msgc1-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7828b8;
}
.msgc2-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
}
.msgc3-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-dark1);
}
.msgc4-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
}
.msgc2-2-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
}
.msgc3-2-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #149752;
}
.msgc4-2-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
}
.sd-grid-card-1 > img {
  width: 27.5rem;
  position: relative;
  z-index: 15;
  transition: 0.5s;
  object-fit: contain;
}
.msgc1-bg,
.msgc2-bg,
.msgc3-bg,
.msgc4-bg,
.msgc1-2-bg,
.msgc2-2-bg,
.msgc3-2-bg,
.msgc4-2-bg,
.em-sd-grid-card-1-bg,
.em-sd-grid-card-2-bg,
.em-sd-grid-card-3-bg,
.em-sd-grid-card-4-bg,
.sd-grid-card-1-bg,
.sd-grid-card-2-bg,
.sd-grid-card-3-bg,
.sd-grid-card-5-bg {
  z-index: 5;
}
.ir-sd-grid-card-2 img,
.msgc2-2 img,
.msgc3-2 img,
.msgc4-2 img,
.msgc3-2 h5,
.msgc1 img,
.msgc1 h5,
.msgc2 h3,
.msgc2 .egc2-img-grid,
.msgc3 h3,
.msgc3 ul,
.msgc4 img,
.em-sd-grid-card-4 img,
.em-sd-grid-card-4 h4,
.em-sd-grid-card-4 ul,
.em-sd-grid-card-3 img,
.em-sd-grid-card-3 h2,
.em-sd-grid-card-3 h6,
.em-sd-grid-card-2 img,
.em-sd-grid-card-1 img,
.em-sd-grid-card-1 h4,
.sd-grid-card-3 img,
.sdgc3-details,
.sdgc3-details,
.all-platforms-grid,
.sd-grid-card-1 > img,
.sd-grid-card-2 > img,
.sd-grid-card-4 > img,
.sdgc1-details,
.sdgc4-details,
.sdgc2-details {
  position: relative;
  z-index: 15;
}
.sdgc1-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.sd-grid-card h3 {
  margin: 0 0 5rem 0;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: max-content;
}
.sd-grid-card h3 span {
  font-size: 2.25rem;
}
.supported-by-box > h6 {
  font-size: 1.85rem;
  font-weight: 400;
}
.sb-box-grid {
  width: 100%;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  grid-gap: 5rem;
  margin: 1.5rem 0 0 0;
}
.sb-box {
  padding: 0 0 0 1.5rem;
  border-left: 2px solid var(--black);
}
.sb-box h5 {
  font-size: 2.5rem;
  font-weight: 800;
}
.sb-box p {
  font-size: 1.75rem;
  margin: 0.5rem 0 0 0;
}
.sd-grid-card-2 {
  padding: 5rem 3.5rem 3.5rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.sdgc2-details {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sdgc2-details h3,
.sdgc3-details h3 {
  color: var(--white);
}
.sdgc2-details img {
  width: 15rem;
  object-fit: contain;
}
.all-platforms-grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.apg-box {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem 0 0;
  transition: 0.5s;
}
.apg-box:hover {
  transform: scale(1.1);
}
.apg-box img {
  width: 2.5rem;
  object-fit: contain;
}
.sd-grid-card-3 {
  width: 100%;
  position: relative;
}
.sd-grid-card-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.sdgc3-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 5rem 3.5rem 3.5rem 3.5rem;
}
.ut-tags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.ut-tags span {
  width: max-content;
  white-space: nowrap;
  font-size: 1.75rem;
  padding: 1.25rem 3.5rem;
  cursor: pointer;
  margin: 1.5rem 1.5rem 0 0;
  background-color: var(--main-dark3);
  border-radius: 1000px;
  color: var(--white);
  display: block;
  transition: 0.5s;
}
.ut-tags span:hover {
  background-color: var(--black);
}
.ut-partners-username {
  font-size: 1.75rem;
  color: var(--white);
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  z-index: 10;
}
.sd-grid-card-4 {
  position: relative;
}
.sd-grid-card-4 > img {
  width: 50%;
  object-fit: contain;
  object-position: right;
  position: absolute;
  top: 0;
  right: 0;
}
.cross-polination-section {
  width: 100%;
  background-color: var(--main-dark3);
  padding: 7.5rem 0;
}
.cp-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.35fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
}
.cp-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cp-details h6,
.platform-stats-details h6 {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.35);
  font-weight: 700;
}
.cp-details img {
  width: 7.5rem;
  object-fit: contain;
  margin: 5rem 0;
}
.cp-details h2 {
  color: var(--white);
  text-transform: uppercase;
}
.cp-details h4 {
  font-weight: 400;
  margin: 1rem 0 0 0;
  color: var(--white);
}
.cp-img-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cp-img-box img {
  width: 100%;
}
.im-trusted-by {
  width: 100%;
  padding: 5rem 0;
}
.im-trusted-by-utgs {
  width: 100%;
  padding: 5rem 0;
  background-color: var(--black);
}

.platform-stats-section {
  width: 100%;
  background-color: var(--black);
  position: relative;
  padding: 7.5rem 0;
}
.ugs-pss-container {
  background-color: #101216;
}
.platform-stats-section.ugs-pss-1 {
  background-color: #191c22;
}
.platform-stats-section.ugs-pss-2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.platform-stats-section.ugs-pss-3 {
  background-color: rgba(0, 0, 0, 0.4);
}
.platform-stats-section.ugs-pss-4 {
  background-color: rgba(0, 0, 0, 0.6);
}
.platform-stats-section.ugs-pss-5 {
  background-color: rgba(0, 0, 0, 0.9);
}
.platform-stats-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  grid-template-rows: auto;
  grid-gap: 7.5rem;
}
.platform-stats-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.platform-stats-details h3 {
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  margin: 2.5rem 0 0 0;
  font-size: 4.5rem;
}
.platform-stats-details h4 {
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  margin: 0 0 3.5rem 0;
}
.platform-stats-details h5 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}
.platform-stats-details p {
  color: var(--white);
  margin: 0.5rem 0 0 0;
  font-weight: 300;
  font-size: 2rem;
}
.platform-stats-text-grid {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 7.5rem 0 0 0;
}
.ps-box {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ps-box-content {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ps-box h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ps-box:nth-child(1) h3 {
  color: #31dd8c;
}
.ps-box:nth-child(2) h3 {
  color: #177de5;
}
.ps-box:nth-child(3) h3 {
  color: #fe7024;
}
.ps-box h3 svg {
  font-size: 3.5rem;
}
.ps-box p {
  color: var(--white);
  margin: 1rem 0 0 0;
}
.fashion-brand-img-box {
  width: 100%;
  height: 100%;
}
.fashion-brand-img-box img {
  display: none;
}
.platform-stats-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.platform-stats-img img {
  width: 100%;
  object-fit: contain;
  max-height: 40rem;
}
.fashion-brand-img {
  width: 90%;
  height: max-content;
  object-fit: contain;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  object-position: right bottom;
  min-height: 47.5rem;
}
.big-things-section {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.big-things-section img {
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.big-things-section div {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3.5rem 0 6.5rem 0;
  text-transform: uppercase;
}
.big-things-section div h4 {
  color: var(--main-dark3);
  font-weight: 800;
}
.big-things-section div h2 {
  color: var(--main-dark3);
  margin: 0.5rem 0 1.5rem 0;
  font-weight: 800;
}
.big-things-section div a {
  font-size: 2rem;
  color: var(--white);
  font-weight: 700;
  transition: 0.35s;
}
.big-things-section div a:hover {
  letter-spacing: 2px;
}
.faq-section {
  width: 100%;
  padding: 7.5rem 0 25rem 0;
  background-color: var(--white);
}
.faq-section h3 {
  width: 100%;
  color: var(--black);
  text-align: center;
  font-weight: 800;
}
.faq-box {
  width: 55%;
  margin: 7.5rem auto 0 auto;
}
.faq-box .accordion-item {
  border-radius: 0;
  background-color: unset;
  border: 0;
  padding: 2.5rem 0;
  border-bottom: 1px solid var(--main-dark3);
}
.faq-box .accordion-button {
  padding: 0;
}
.faq-box .accordion-button::after {
  display: none;
}
.faq-box .accordion,
.faq-box .accordion * {
  transition: 0.35s !important;
}
.faq-box .accordion-body {
  padding: 2.5rem 0 0 0;
}
.faq-box .accordion-button:not(.collapsed) {
  color: unset;
  background-color: unset;
  box-shadow: unset;
}
.faq-box .accordion-button:active,
.faq-box .accordion-button:focus {
  box-shadow: unset;
}
.faq-box-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq-box-head p {
  max-width: 90%;
  font-size: 2rem;
}
.faq-box-head .fb-icon-box {
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid var(--main-dark3);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}
.accordion-body p {
  font-size: 1.75rem;
}
.accordion-button .fb-plus-box {
  display: none;
}
.accordion-button.collapsed .fb-plus-box {
  display: flex;
}
.accordion-button .fb-minus-box {
  display: flex;
}
.accordion-button.collapsed .fb-minus-box {
  display: none;
}
.accordion-button .faq-box-head p {
  font-weight: 600;
}
.accordion-button.collapsed .faq-box-head p {
  font-weight: 400;
}
.subs-journal-section {
  width: 100%;
  background-color: var(--main-dark3);
}
.subs-journal-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10rem;
}
.sj-bull-elevator-img-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sj-bull-elevator-img-box img {
  width: 100%;
  object-fit: contain;
  max-height: 60rem;
  margin: -12.5rem 0 0 0;
}
.sj-grid-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5rem 0;
}
.sj-grid-left h3 {
  color: var(--white);
  text-transform: uppercase;
  margin: 0 0 5rem 0;
}
.sj-input-box {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 0.5rem;
}
.sj-input-box input {
  width: 100%;
  border: 0;
  outline: 0;
  height: 5rem;
  padding: 1.5rem;
  font-size: 1.65rem;
  color: var(--black);
}
.sj-input-box input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.sj-input-box button {
  font-size: 1.5rem;
  height: 5rem;
  background-color: var(--main-color);
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--white);
  border: 0;
  outline: 0;
  min-width: max-content;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
.sj-input-box button div {
  width: 4rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.5);
  /* background-color: red; */
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(0, -50%) rotate(45deg);
  filter: blur(7px);
  transition: 0.4s;
  opacity: 0;
  animation-timing-function: linear;
}
.sj-input-box button:hover div {
  left: 125%;
  opacity: 1;
}
/* EVENT MARKETING */
.em-sd-grid-card-1-bg {
  width: 100%;
  height: 100%;
  background-color: var(--main-dark1);
  position: absolute;
  top: 0;
  left: 0;
}
.em-sd-grid-card-2-bg {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  position: absolute;
  top: 0;
  left: 0;
}
.em-sd-grid-card-3-bg {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  position: absolute;
  top: 0;
  left: 0;
}
.em-sd-grid-card-4-bg {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
}
.em-sd-grid-card-1,
.em-sd-grid-card-3 {
  padding: 5rem 3.5rem 3.5rem 3.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: flex-end;
}
.em-sd-grid-card-1 img {
  width: 12.5rem;
  object-fit: contain;
  margin: 0 0 2.5rem 0;
}
.ir-sd-grid-card-2 img {
  width: 10rem;
  object-fit: contain;
  margin: 0 0 2.5rem 0;
}
.em-sd-grid-card-1 h4 {
  color: var(--white);
  font-weight: 300;
  font-size: 3.5rem;
}
.em-sd-grid-card-1 h4 b {
  font-weight: 800;
}
.em-sd-grid-card-2,
.mm-sd-grid-card-4 {
  width: 100%;
  height: 100%;
}
.em-sd-grid-card-2 img,
.mm-sd-grid-card-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.em-sd-grid-card-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.em-sd-grid-card-3 h2 {
  position: relative;
  font-weight: 800;
  color: var(--white);
  z-index: 10;
  font-size: 7.5rem;
}
.em-sd-grid-card-3 h6 {
  font-weight: 300;
  color: var(--white);
  position: relative;
  z-index: 10;
}
.em-sd-grid-card-4 {
  padding: 3.5rem;
  position: relative;
}
.em-sd-grid-card-4 img {
  width: 50%;
  max-height: 85%;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: contain;
}
.em-sd-grid-card-4 h4 {
  color: var(--black);
  text-transform: uppercase;
  margin: 0 0 3.5rem 0;
  font-weight: 700;
}
.sd-grid-card ul li p {
  font-size: 2rem;
}
.sd-grid-card ul {
  position: relative;
}
.sd-grid-card ul li {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.li-dot-line {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 1rem 0 0;
}
.li-dot {
  width: 1rem;
  height: 1rem;
  background-color: var(--main-color);
  border-radius: 50%;
}
.li-line {
  width: 0;
  height: 4rem;
  border-left: 1px dashed var(--main-color);
}
.sd-grid-card ul li:not(:first-child) {
  margin: -1rem 0 0 0;
}
.em-events-section {
  background-color: var(--main-dark3);
  padding: 2.5rem 0 7.5rem 0;
}
.events-names-box {
  width: 100%;
  margin: 2.5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.event-name-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin: 2.5rem 2.5rem 0 0;
}
.event-name-box img {
  width: 2.25rem;
  object-fit: contain;
  margin: 0 1rem 0 0;
}
.event-name-box p {
  color: var(--white);
  font-size: 2rem;
}
.em-backed-by-swiper .swiper-slide {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.em-backed-by-box {
  width: max-content;
}
.em-backed-by-swiper {
  margin: 7.5rem 0 0 0;
  width: 100%;
  position: relative;
}
/* EVENT MARKETING */
.mm-sd-grid-card-2-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0;
}
.mm-info-small-grid-box {
  width: 100%;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.mm-info-small-grid-box:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.1);
}
.mm-info-small-grid-box:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.05);
}
.mm-info-small-grid-box:nth-child(3) {
  background-color: rgba(255, 255, 255, 0.03);
}
.mm-info-small-grid-box:nth-child(4) {
  background-color: var(--black);
}
.mm-info-small-grid-box img {
  width: 3.5rem;
  object-fit: contain;
  margin: 0 0 1.5rem 0;
}
.mm-info-small-grid-box h5 {
  font-weight: 300;
  width: 85%;
  color: var(--white);
}
.mm-sd-grid-card-1 {
  padding: 3.5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.mm-sd-grid-card-3-2 {
  padding: 3.5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.ir-sd-grid-card-1,
.ir-sd-grid-card-2,
.ir-sd-grid-card-4,
.ir-sd-grid-card-3 {
  padding: 3.5rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 37.5rem;
}
.mm-sd-grid-card-3-2 h5,
.mm-sd-grid-card-1 h5 {
  color: var(--white);
  font-weight: 300;
  z-index: 10;
  position: relative;
  max-width: 75%;
  font-size: 2.75rem;
}
.ir-sd-grid-card-1 h5,
.ir-sd-grid-card-3 h5 {
  font-weight: 300;
  z-index: 10;
  position: relative;
  color: var(--black);
  max-width: 75%;
  font-size: 2.75rem;
}
.ir-sd-grid-card-3 h6,
.ir-sd-grid-card-2 h6 {
  font-weight: 300;
  z-index: 10;
  position: relative;
  color: var(--white);
  max-width: 70%;
  font-size: 2.25rem;
}
.ir-sd-grid-card-4 h6 {
  font-weight: 300;
  z-index: 10;
  position: relative;
  color: var(--black);
  max-width: 70%;
  font-size: 2.25rem;
}
.ir-sd-grid-card-1 h2,
.ir-sd-grid-card-4 h2 {
  color: var(--black);
  z-index: 10;
  position: relative;
  max-width: 75%;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}
.ir-sd-grid-card-2 h2 {
  color: var(--white);
  z-index: 10;
  position: relative;
  max-width: 75%;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}
.mm-sd-grid-card-3-2 img,
.ir-sd-grid-card-1 img,
.ir-sd-grid-card-3 img,
.ir-sd-grid-card-4 img,
.mm-sd-grid-card-1 img {
  height: 95%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.mm-sd-grid-card-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 3.5rem;
}
.mm-sd-grid-card-3 {
  padding: 3.5rem;
}
.mm-sd-grid-card-3 h3,
.mm-sd-grid-card-3 p {
  color: var(--white);
}
.platform-stats-grid.fashion-brand-grid {
  margin: 0 0 15rem 0;
}

.Event-marketing-section {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.Event-marketing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  margin: 2.5rem 0 5rem 0;
}
.EM-grid-left img {
  width: 100%;
  height: 100%;
}
.EM-grid-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.con-to-comp h5 {
  font-size: 2.5rem;
  color: #101216;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.con-to-comp p {
  font-size: 2.5rem;
  color: #101216;
  font-weight: 400;
}
.con-to-comp-points {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
}
.con-to-comp-points span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 0.65rem 1rem;
  background-color: #f7f7f7;
  border-radius: 1000px;
  font-size: 1.6rem;
  color: #101216;
  font-weight: 400;
  margin: 0 1rem 1rem 0;
  cursor: pointer;
}
.con-to-comp svg {
  font-size: 3.25rem;
  margin: 0 0.75rem 0 0;
}
.con-to-comp.cc-margin-box {
  margin: 5.5rem 0;
}
.Event-marketing-section .section-heading-box {
  margin: 0 0 2.5rem 0;
}
.event-marketing-mob {
  display: none;
}
.expertise-page {
  width: 100%;
}
.expertise-page .bb-logos-swiper .swiper {
  width: 75%;
  margin: 0;
}
.expertise-page .backedby-section {
  padding: 5rem 0 0 0;
}
/* .expertise-page .bb-logos-swiper .swiper-slide {
  margin: 0 5rem 0 0;
} */
.expertise-page .sj-bull-elevator-img-box {
  position: relative;
  z-index: 1000;
}
.expertise-page .sj-bull-elevator-img-box img {
  margin: -15rem 0 0 0;
}

.hero-c-icons-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2.5rem 0 0 0;
}
.hero-c-icons-box a {
  width: 4rem;
  height: 4rem;
  background-color: var(--main-light1);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem 0 0;
  transition: 0.5s;
}
.hero-c-icons-box a svg {
  width: 1.85rem;
  transition: 0.5s;
}
.hero-c-icons-box a:hover {
  transform: translate(0, -0.35rem);
}
@media screen and (max-width: 1150px) {
  .service-description-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .faq-box {
    width: 85%;
  }
  .platform-stats-grid {
    grid-template-columns: 1fr 1fr;
  }
  .sd-grid-card {
    min-height: 45rem;
  }
  .subs-journal-grid {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .sj-bull-elevator-img-box img {
    width: 35%;
    object-fit: contain;
    max-height: 60rem;
    margin: -15rem 0 0 0;
  }
  .Event-marketing-grid {
    grid-gap: 2rem;
  }
  .con-to-comp.cc-margin-box {
    margin: 2.5rem 0;
  }
  .expertise-page .bb-logos-swiper .swiper {
    width: 100%;
  }
  .expertise-page .backedby-section {
    padding: 5rem 0 15rem 0;
  }
}
@media screen and (max-width: 1000px) {
  .em-sd-grid-card-2 img,
  .mm-sd-grid-card-4 img {
    object-fit: cover;
  }
  .platform-stats-grid {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }
  .platform-stats-img img {
    width: 50%;
  }
  .fashion-brand-img {
    display: none;
  }
  .fashion-brand-img-box img {
    display: block;
    width: 100%;
  }
  .cp-grid {
    grid-template-columns: 1fr;
  }
  .Event-marketing-grid {
    grid-template-columns: 1fr;
  }
  .event-marketing-desk {
    display: none;
  }
  .event-marketing-mob {
    display: block;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
  }
  .backedby-section.backedby-section-light .box {
    padding: 0;
  }
}
@media screen and (max-width: 750px) {
  .influencer-marketing-content {
    min-height: 65vh;
    padding: 2rem 0;
  }
  .im-hero-img {
    object-position: bottom;
    transform: translate(0, 0);
  }
  .ups-hero-img {
    object-position: bottom;
    transform: translate(0, 0);
  }
  .im-hero-headings h1 {
    font-size: 3.5rem;
    margin: 0 0 1rem 0;
  }
  .im-hero-headings h3,
  .em-sd-grid-card-4 h4 {
    font-size: 2rem;
  }
  .im-hero-headings {
    width: 75%;
  }
  .service-description-grid {
    margin: 5rem 0 0 0;
  }
  .ir-sd-grid-card-1,
  .ir-sd-grid-card-3,
  .ir-sd-grid-card-4,
  .em-sd-grid-card-3,
  .em-sd-grid-card-4,
  .em-sd-grid-card-1,
  .sd-grid-card-1,
  .sd-grid-card-2,
  .sdgc3-details,
  .sdgc4-details,
  .mm-info-small-grid-box,
  .mm-sd-grid-card-3-2,
  .mm-sd-grid-card-1,
  .mm-sd-grid-card-2,
  .mm-sd-grid-card-3 {
    padding: 2rem;
  }
  .sd-grid-card,
  .mm-sd-grid-card-1,
  .mm-sd-grid-card-2,
  .mm-sd-grid-card-3,
  .mm-sd-grid-card-4 {
    height: max-content;
    min-height: unset;
  }
  .mm-sd-grid-card-2-1 {
    grid-template-columns: 1fr;
  }
  .faq-box {
    width: 100%;
  }
  .sj-input-box button span {
    display: none;
  }
  .sj-input-box {
    width: 100%;
  }
  .platform-stats-text-grid {
    flex-direction: column;
    align-items: center;
  }
  .ps-box:not(:last-child) {
    margin: 0 0 5rem 0;
  }
  .sb-box-grid {
    grid-gap: 1.5rem;
    grid-template-columns: 1fr;
  }
  .sd-grid-card-1 > img {
    width: 40%;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
  .sd-grid-card h3 span {
    font-size: 1.75rem;
    font-weight: 600;
  }
  .sdgc2-details img {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 7.5rem;
  }
  .apg-box {
    width: 4rem;
    height: 4rem;
  }
  .apg-box img {
    width: 2.25rem;
  }
  .ut-tags span {
    margin: 0.75rem 0.75rem 0 0;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
  }
  .cp-details img {
    margin: 2.5rem 0;
    width: 5rem;
  }
  .cp-img-box img {
    margin: 0 -2rem;
    width: 95vw;
  }
  .cross-polination-section,
  .platform-stats-section {
    padding: 3.5rem 0;
  }
  .faq-section {
    padding: 5rem 0 25rem 0;
  }
  .cp-details h6,
  .platform-stats-details,
  .platform-stats-details h6,
  .big-things-section div h4,
  .cp-details h4 {
    font-size: 1.65rem;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .cp-details h2 {
    font-size: 3.5rem;
  }
  .im-trusted-by {
    padding: 3.5rem 0;
  }
  .cp-details {
    align-items: center;
    text-align: center;
  }
  .platform-stats-details h3,
  .platform-stats-details h4 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
  .platform-stats-details h5 {
    margin: 0 0 0.5rem 0;
  }
  .platform-stats-details p {
    font-size: 1.65rem;
  }
  .platform-stats-img img {
    width: 85%;
  }
  .ps-box {
    align-items: center;
    text-align: center;
  }
  .ps-box h3 svg {
    font-size: 2.5rem;
  }
  .platform-stats-details h5 {
    font-size: 1.65rem;
    text-align: center;
  }
  .sj-bull-elevator-img-box img {
    width: 100%;
    height: 30rem;
  }
  .sj-grid-left {
    padding: 0 0 5rem 0;
  }
  .sj-grid-left h3 {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 2.5rem 0;
  }
  .faq-box {
    margin: 5rem auto 0 auto;
  }
  .fashion-brand-img-box img {
    width: 100%;
  }
  .em-sd-grid-card-1 img {
    width: 10rem;
  }
  .ir-sd-grid-card-2 img {
    width: 6.5rem;
    margin: 2.5rem 0;
  }
  .em-sd-grid-card-1 h4 {
    font-size: 1.75rem;
  }
  .em-sd-grid-card-3 h6,
  .accordion-body p,
  .accordion-button .faq-box-head p {
    font-size: 1.75rem;
  }
  .em-sd-grid-card-3 h2 {
    font-size: 3.5rem;
  }
  .em-sd-grid-card-3 {
    min-height: 20rem;
  }
  .li-line {
    height: 3rem;
  }
  .sd-grid-card ul li p {
    font-size: 1.65rem;
  }
  .faq-box .accordion-body {
    padding: 1.5rem 0 0 0;
  }
  .faq-box-head .fb-icon-box {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
  .ir-sd-grid-card-1 h5,
  .ir-sd-grid-card-3 h5,
  .mm-sd-grid-card-3-2 h5,
  .mm-info-small-grid-box h5,
  .mm-sd-grid-card-1 h5 {
    font-size: 1.65rem;
  }
  .mm-sd-grid-card-3-2,
  .ir-sd-grid-card-1,
  .ir-sd-grid-card-4,
  .ir-sd-grid-card-3,
  .mm-sd-grid-card-1 {
    min-height: 20rem;
  }
  .mm-info-small-grid-box img {
    width: 2.5rem;
    margin: 0 1rem 0 0;
  }
  .mm-info-small-grid-box {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .sb-box p {
    font-size: 1.5rem;
    margin: 0;
  }
  .ps-box-content {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .con-to-comp p {
    font-size: 1.75rem;
  }
  .expertise-page .bb-logo-box img {
    height: 2rem;
  }
  .expertise-hero-headings.im-hero-headings h1 {
    font-size: 3rem;
  }
}
