.ut-store-merch-section {
  width: 100%;
  padding: 5rem 0;
  background-color: var(--main-dark3);
  position: relative;
  z-index: 10;
}
.ut-store-merch-section .heading-sublink-box h2 {
  color: var(--white);
}
