header {
  width: 100%;
  position: relative;
  z-index: 10000;
}
.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-left {
  width: max-content;
}
.header-left svg {
  height: 4rem;
  width: max-content;
}
.header-center {
  height: 100%;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(7, max-content);
  grid-template-rows: auto;
  grid-gap: 2.5rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.header-center a {
  font-size: 1.65rem;
  text-decoration: none;
  transition: 0.35s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: relative;
}
.header-center > a:not(.talk-to-us):after {
  content: "";
  width: 0%;
  height: 0.75px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, -1rem);
  transition: 0.35s;
}
.header-center > a:hover::after {
  width: 100%;
}
.bookmark-link {
  position: relative;
}
.bookmark-link img {
  width: 1rem;
  height: max-content;
  object-fit: contain;
  object-position: bottom;
  position: absolute;
  top: 0%;
  left: 0;
  transform: translate(0, -105%);
}
.header-center a:hover {
  color: var(--white);
}
.menu-icon-box {
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgba(196, 196, 196, 0.25);
  border-radius: 1rem;
  transition: 0.35s;
  cursor: pointer;
}
.menu-icon-box svg {
  transition: 0.35s;
  width: 2.25rem;
}
.menu-icon-box:hover {
  background-color: rgba(196, 196, 196, 0.35);
}
.header-right {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right p {
  font-size: 1.75rem;
  margin: 0 2.5rem 0 0;
}

a.talk-to-us {
  font-weight: 700;
  height: 100%;
  font-size: 1.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.talk-to-us span {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}
a.talk-to-us:hover {
  color: var(--main-color);
}
header .ut-dropdown button {
  font-size: 1.65rem;
  text-decoration: none;
  transition: 0.25s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: relative;
}
header .ut-dropdown button svg {
  font-size: 2rem;
  transition: 0.25s;
  margin: 0 0 0 0.25rem;
}
header .ut-dropdown .dropdown-menu {
  background-color: transparent;
  padding: 0;
  border: 0;
  box-shadow: 0 0 5px 3px rgb(0, 0, 0, 0.05);
}
header .ut-dropdown .dropdown-menu a {
  color: #ffffff;
  padding: 0.85rem 0;
  justify-content: flex-start;
  font-size: 1.5rem;
}
header .ut-dropdown .dropdown-menu a:hover {
  color: #ffffff;
  background-color: transparent;
  transform: unset;
}

.header-light .header-center a,
.header-light .header-center .ut-dropdown button,
.header-light .header-center .ut-dropdown button svg,
.header-light .header-right p {
  color: var(--white);
}
.header-dark .header-center a,
.header-dark .header-center .ut-dropdown button,
.header-dark .header-center .ut-dropdown button svg,
.header-dark .header-right p {
  color: var(--black);
}
.header-light .header-center a:not(.talk-to-us):after {
  background-color: var(--white);
}
.header-dark .header-center a:not(.talk-to-us):after {
  background-color: var(--main-dark3);
}
header .ut-dropdown button:hover,
header .ut-dropdown button:focus,
header .ut-dropdown button:active,
header .ut-dropdown button:hover svg,
header .ut-dropdown button:focus svg,
header .ut-dropdown button:active svg {
  color: var(--main-color) !important;
}
.header-mob {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black);
  z-index: 1000;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.header-mob-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-mob-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 5rem 0;
}
.header-mob-head > svg {
  height: 4rem;
  width: max-content;
}
.header-mob-head div svg {
  font-size: 2rem;
  color: var(--white);
  cursor: pointer;
}
.header-center-mob {
  width: max-content;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
.header-mob .header-center a {
  color: var(--white);
}

.header-center-mob a {
  font-size: 2rem;
  text-decoration: none;
  transition: 0.35s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--white);
  font-weight: 500;
  position: relative;
}
.header-center-mob a:hover {
  color: var(--white);
}

.bookmark-link-mob {
  position: relative;
}
.bookmark-link-mob img {
  width: 1rem;
  height: max-content;
  object-fit: contain;
  object-position: bottom;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-2.5rem, -50%) rotate(-90deg);
}
header .header-center-mob .ut-dropdown button {
  font-size: 2rem;
}
.header-mob-bottom {
  width: 100%;
}
.header-mob-bottom button {
  margin: 0 0 3.5rem 0;
  width: 100%;
}
.header-mob-icons-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-mob-icons-box a {
  width: 4rem;
  height: 4rem;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem 0 0;
  transition: 0.5s;
}
.header-mob-icons-box a svg {
  width: 1.85rem;
  transition: 0.5s;
}
.header-mob-icons-box a:hover {
  transform: translate(0, -0.35rem);
}
@media screen and (max-width: 1150px) {
  .header-center,
  .header-right p {
    display: none;
  }
}
