header {
  width: 100%;
  position: relative;
  z-index: 10;
}
.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-left {
  width: max-content;
}
.header-left svg {
  height: 4rem;
}
.header-center {
  height: 100%;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(7, max-content);
  grid-template-rows: auto;
  grid-gap: 2.5rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.header-center a {
  font-size: 1.65rem;
  text-decoration: none;
  transition: 0.35s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  position: relative;
}
.bookmark-link {
  position: relative;
}
.bookmark-link img {
  width: 1rem;
  height: max-content;
  object-fit: contain;
  object-position: bottom;
  position: absolute;
  top: 0%;
  left: 0;
  transform: translate(0, -105%);
}
.header-center a:hover {
  color: var(--white);
}
.header-center a:hover {
  transform: translate(0, -0.5rem);
}
.menu-icon-box {
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgba(196, 196, 196, 0.25);
  border-radius: 1rem;
}
.menu-icon-box svg {
  width: 2.25rem;
}
.header-right {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right p {
  font-size: 1.75rem;
  margin: 0 2.5rem 0 0;
}

a.talk-to-us {
  font-weight: 700;
  height: 100%;
  font-size: 1.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.talk-to-us span {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}
a.talk-to-us:hover {
  color: var(--main-color);
}

header .ut-dropdown button {
  font-size: 1.65rem;
  text-decoration: none;
  transition: 0.25s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: relative;
}
header .ut-dropdown button svg {
  font-size: 2rem;
  transition: 0.25s;
  margin: 0 0 0 0.25rem;
}
header .ut-dropdown .dropdown-menu {
  background-color: var(--white);
  padding: 0.75rem 0;
}
header .ut-dropdown .dropdown-menu a {
  color: var(--main-dark3);
  padding: 0.5rem 3.5rem 0.5rem 2.5rem;
  justify-content: flex-start;
  font-size: 1.5rem;
}
header .ut-dropdown .dropdown-menu a:hover {
  color: var(--main-dark3);
  background-color: rgba(196, 196, 196, 0.25);
  transform: unset;
}

.header-light .header-center a,
.header-light .header-center .ut-dropdown button,
.header-light .header-center .ut-dropdown button svg,
.header-light .header-right p {
  color: var(--white);
}
.header-dark .header-center a,
.header-dark .header-center .ut-dropdown button,
.header-dark .header-center .ut-dropdown button svg,
.header-dark .header-right p {
  color: var(--black);
}
header .ut-dropdown button:hover,
header .ut-dropdown button:focus,
header .ut-dropdown button:active,
header .ut-dropdown button:hover svg,
header .ut-dropdown button:focus svg,
header .ut-dropdown button:active svg {
  color: var(--main-color) !important;
}
