@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/ttf/Gilroy-100.ttf") format("ttf"),
    url("../assets/fonts/woff/Gilroy-100.woff") format("woff"),
    url("../assets/fonts/woff2/Gilroy-100.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/ttf/Gilroy-200.ttf") format("ttf"),
    url("../assets/fonts/woff/Gilroy-200.woff") format("woff"),
    url("../assets/fonts/woff2/Gilroy-200.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/ttf/Gilroy-300.ttf") format("ttf"),
    url("../assets/fonts/woff/Gilroy-300.woff") format("woff"),
    url("../assets/fonts/woff2/Gilroy-300.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/ttf/Gilroy-400.ttf") format("ttf"),
    url("../assets/fonts/woff/Gilroy-400.woff") format("woff"),
    url("../assets/fonts/woff2/Gilroy-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/ttf/Gilroy-500.ttf") format("ttf"),
    url("../assets/fonts/woff/Gilroy-500.woff") format("woff"),
    url("../assets/fonts/woff2/Gilroy-500.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/ttf/Gilroy-600.ttf") format("ttf"),
    url("../assets/fonts/woff/Gilroy-600.woff") format("woff"),
    url("../assets/fonts/woff2/Gilroy-600.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/ttf/Gilroy-700.ttf") format("ttf"),
    url("../assets/fonts/woff/Gilroy-700.woff") format("woff"),
    url("../assets/fonts/woff2/Gilroy-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/ttf/Gilroy-800.ttf") format("ttf"),
    url("../assets/fonts/woff/Gilroy-800.woff") format("woff"),
    url("../assets/fonts/woff2/Gilroy-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/ttf/Gilroy-900.ttf") format("ttf"),
    url("../assets/fonts/woff/Gilroy-900.woff") format("woff"),
    url("../assets/fonts/woff2/Gilroy-900.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/ttf/Gilroy-1000.ttf") format("ttf"),
    url("../assets/fonts/woff/Gilroy-1000.woff") format("woff"),
    url("../assets/fonts/woff2/Gilroy-1000.woff2") format("woff2");
  font-style: normal;
  font-weight: 1000;
}
.app * {
  font-family: "Gilroy", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: -webkit-fill-available;
}
.box {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 5rem;
}
.box.box-p {
  padding: 0 8.5rem;
}
:root {
  font-size: 10px;

  /* Colors */
  --white: #fff;
  --black: #000;
  --main-color: #31dd8c;
  --main-dark1: #191c22;
  --main-dark2: #c4c4c4;
  --main-dark3: #101216;
  --main-dark4: #1e1e1e;
  --main-light1: #f7f7f7;

  /* Transitions */
  --trns1: 0.25s;
  --trns2: 0.5s;
  --trns3: 0.5s;
  --trns4: 1s;
}
.d-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-company-logos-swiper,
.bb-logos-swiper {
  position: relative;
}
.hero-company-logos-swiper::after,
.bb-logos-swiper::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  position: absolute;
}
.hero-company-logos-swiper .swiper-slide,
.bb-logos-swiper .swiper-slide {
  position: relative;
  z-index: 500;
}
.error-msg {
  color: red;
  margin: 0 0 2.5rem 0;
  display: none;
}
.angelsprogram-page header {
  background-color: var(--main-dark3) !important;
}
/* .home-page header {
  background-color: var(--main-dark3) !important;
} */
.app h2 {
  font-size: 5rem;
  font-weight: 700;
}
.app h3 {
  font-size: 4rem;
  font-weight: 700;
}
.app h4 {
  font-size: 2.85rem;
}
.app h5 {
  font-size: 2.35rem;
}
.app h6 {
  font-size: 2rem;
}
.app p {
  font-size: 1.65rem;
}
.app a {
  text-decoration: none;
}
.app b {
  font-weight: 800;
}
.app button {
  cursor: pointer;
}
.ut-btn-lightgray {
  background-color: var(--main-light1);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-color);
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  padding: 1rem 5rem;
  cursor: pointer;
  transition: 0.35s;
}
.ut-btn-lightgray:hover {
  background-color: #eeeeee;
}
.ut-btn-lightgray:active,
.ut-btn-green:active {
  transform: scale(0.95);
}
.ut-btn-green {
  background-color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  padding: 0.85rem 5rem;
  cursor: pointer;
  transition: 0.35s;
}
.ut-btn-green:hover {
  background-color: #1cb66e;
}
.arrow-link {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.arrow-link:hover svg {
  transform: rotate(-45deg) scale(1.1);
}
.arrow-link:hover span {
  letter-spacing: 2px;
}
.arrow-link span {
  font-size: 1.75rem;
  color: var(--main-color);
  transition: 0.35s;
  font-weight: 700;
  margin: 0 1rem 0 0;
}
.arrow-link svg {
  width: 2rem;
  height: 2rem;
  color: var(--main-color);
  transition: 0.35s;
}
.ut-input {
  width: 100%;
  border: 2px solid transparent;
  outline: 0;
  padding: 1.25rem 1.5rem;
  background-color: var(--main-light1);
  font-size: 1.65rem;
  color: var(--main-dark1);
  border-radius: 0.5rem;
  transition: 0.5s;
}
.ut-input:hover {
  border: 2px solid rgba(0, 0, 0, 0.05);
}
.ut-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.ut-input:focus {
  border: 2px solid var(--main-color);
}

.heading-sublink-box {
  width: 100%;
}
.heading-sublink-box a {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
.heading-sublink-box h2 {
  text-align: center;
  width: 100%;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}
.ut-dropdown button {
  background-color: unset;
  outline: 0;
  border: 0;
  padding: 0;
  box-shadow: unset !important;
  color: var(--white);
  transition: 0.25s;
}
.ut-dropdown button:hover,
.ut-dropdown button:focus,
.ut-dropdown button:active {
  background-color: unset;
  outline: 0;
  border: 0;
  padding: 0;
  box-shadow: unset !important;
}
.ut-dropdown button::after {
  display: none;
}
.ut-dropdown {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-subhead span {
  font-weight: 300;
  font-size: 2.5rem;
}
.head-subhead {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.links-page {
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--main-dark3);
}
.links-page a {
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--white);
  margin: 0 0 1.5rem 0;
  text-decoration: none;
}
.links-page a:hover span {
  color: var(--main-color);
}
.links-page a:hover {
  color: var(--white);
}

.pc-element {
  display: block;
}
.mob-element {
  display: none;
}
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.ddd-cube {
  width: max-content;
  text-align: center;
  height: 6.5rem;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ddd-f {
  transform: translateZ(3.25rem);
}
.ddd-b {
  transform: rotateX(-90deg) translateZ(-5rem);
}
.ddd-cube-p:hover .ddd-cube {
  transform: rotateX(90deg);
}
.loading-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  background-color: var(--main-dark3);
  overflow: hidden;
}
.loading-screen svg {
  height: 5rem;
  object-fit: contain;
  width: 75%;
}

@media screen and (max-width: 1250px) {
  .box,
  .box.box-p {
    padding: 0 3.5rem;
  }
}
@media screen and (max-width: 750px) {
  .box,
  .box.box-p {
    padding: 0 2rem;
  }
  .app h2 {
    font-size: 3rem;
  }
  .app h3 {
    font-size: 2.5rem;
  }
  .ut-btn-lightgray {
    padding: 0.65rem 2rem;
  }
  .arrow-link span {
    font-size: 1.5rem;
    max-width: 0 0.5rem 0 0;
  }
  .arrow-link svg {
    width: 1.75rem;
    height: 1.75rem;
  }
  .pc-element {
    display: none;
  }
  .mob-element {
    display: block;
  }
  .ddd-cube {
    height: max-content;
    height: 3.25rem;
  }
}
